/* 基本样式 */
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航开始*/
/* /* /* .shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}
.dt,
.shortcut .fore
{
    padding:0 20px 0 10px;
    position: relative;
}
.dt i,
.fore i
{
    font: 400 15px/15px "宋体";
    position: absolute;
    top:13px;
    right:3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}
.dt s,
.fore s{
    position: absolute;
    top: -8px;
    left: 0;
}
.fr li {
    float: left;
    padding: 0 10px;
}
.fr .line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding:0;
}
.shortcut .tel-jd{
    padding:0 20px 0 25px;
}
.tel{
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat;
    left: 5px;
    top:5px;
}
/*顶部end*/
/*topbanner start*/
/* 
.topbanner {
    background-color: #8A25C6;
}
.close-banner {
    position: absolute;
    right:0;
    top:5px;
    width: 19px;
    height: 19px;
    background: url(../images/close.png) no-repeat;
}
.close-banner:hover {
    background-position:bottom;
}
.tp{
    position: relative;
}

/*topbanner end*/
/* 
.logo {
    width: 360px;
    height: 75px;
    background-color: pink;
    float:left;
    padding-top: 25px;
    background: url(../images/logo.png) no-repeat 0 25px;
    position: relative;
}
.jd-a{
    display: block;
    width: 270px;
    height: 60px;
    text-indent:-2000em;
}
.db11 {
    position: absolute;
    width: 180px;
    height: 80px;
    background-color: pink;
    top: 10px;
    left: 168px;
}


.search {
    width: 538px;
    height: 75px;
    background-color: purple;
    float: left;
    padding-top: 25px;
}
.car {
    width: 139px;
    height: 34px;
    background-color: blue;
    float: right;
    margin:25px 65px 0 0 ;
} */

/* 头部导航开始 */
/* 左半边送至城市 */
.shortcut {
	height: 30px;
	line-height: 30px;
	background-color: #F1F1F1;
	width: 100%;
}

.fl i, .fore i {
	font: 400 14px/14px "宋体";
	position: absolute;
	right: 3px;
	top: 13px;
	height: 7px;
	overflow: hidden;
	width: 14px;
}

.dt, .shortcut .fore{
	padding: 0 20px 0 10px;
	position: relative;
}

.fl s, .fore s {
	position: absolute;
	top: -7px;
	left: 0;
}
/* 右半边导航 */
.fr li {
	float: left;
	padding: 0 10px;
}

.fr .line {
	width: 1px;
	height: 12px;
	background-color: #ccc;
	margin-top: 9px;
	padding: 0;
}

.shortcut .tel-jd {
	padding: 0 20px;
}

.tel {
	position: absolute;
	width: 15px;
	height: 20px;
	background: url(../images/jd2015img.png) no-repeat;
	left: 3px;
	top: 5px;
}

.topbanner {
	position: relative;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	background-color: #f02616;
}

.w {
	position: relative;
	margin: 0 auto;
}

.close-banner {
	position: absolute;
	right: 1px;
	display: block;
	top: 5px;
	width: 19px;
	height: 19px;
	background: url(../images/close.png) no-repeat 0 0;
}

.logo {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 362px;
	height: 60px;
	padding: 20px 0;
	z-index: 12;
}

.logo .sub-logo {
	display: block;
	width: 270px;
	height: 60px;
	text-indent: -20000px; /* // 将段落第一行进行缩进。如果使用负值，那么首行会被缩进到左边。 */
	background: url(../images/logo.png) no-repeat 0 0;
	
}

.w .search {
	position: absolute;
	top: 0;
	left: 362px;
	bottom: 0;
	right: 0;
	width: 538px;
	height: 75px;
	padding-top: 25px;
}

.search-form input {
	width: 432px;
	height: 32px;
	border: 2px solid #b61d1d;
	padding-left: 6px;
	float: left;
	color: #666;
	font: 14px/32px "microsoft yahei";
}

.search-form button {
	width: 80px;
	height: 36px;
	float: left;
	background-color: #b61d1d;
	color: white;
	font: 16px/36px "microsoft yahei";
	cursor:pointer;

}
/* 
position: absolute;
	top: 25px; 

鼠标样式：
Cursor:pointer; // 鼠标变成小手
Cursor:default; // 小白
Cursor:move; // 移动
Cursor:text; // 文本输入

CSS编写思路：
给定一个盒子：：宽度高度 背景边框 位置

*/
.w .buy-car {
	width: 100px;
	height: 34px;
	padding-left: 43px;
	float: right;
	margin: 25px 65px 0 0;
	border: 1px solid #DFDFDF;
	line-height: 34px;
	position: relative;
}

.icon1 {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 16px;
	height: 13px;
	background: url(../images/jd2015img.png) no-repeat -1px -59px;
}

.icon2 {
	font: 400 13px/13px simsun;
	position: absolute;
	top: 10px;
	right: 15px;
}

.icon3 {
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #c81623;
	line-height: 14px;
	text-align: center;
	color: #fff;
	top: -4px;
	border-radius: 7px 7px 7px 0;
	/* border-radius: 8px;设置四个角的圆角矩形 */
}

.hotwords {
	width: 522px;
	padding: 7px 0;
	float: left;
}

.hotwords a {
	margin-right: 10px;
}